{% extends 'base.html' %}

{% block title %}Auxr Ambassador Application{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/AmApply.css') }}">
{% endblock %}

{% block content %}
    <h1 class="header">Auxr Ambassador Program Application</h1>
    <form method = "POST">
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id = "firstName" name="firstName">
                </div>
                <div class="col-md-6 form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id ="lastName" name="lastName">
                </div>
            </div>
            <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id = "email" name="email">
            </div>
            <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class = "form-control" id = "gender" name="gender">
            </div>
            <div class="form-group">
                    <label for="school">College/Highschool Ex... University of California Santa Barbra</label>
                    <input type="text" class="form-control" id = "school" name="school">
            </div>
            <div class="form-group">
                    <label for="socialPrograms">Social Programs (Fraternities, Sororities, etc)</label>
                    <input type="text" class="form-control" id = "socialPrograms" name="socialPrograms">
            </div>
        </div>

        <div class="black-background">
            <h2>Short Answer Responses</h2>
            <div class="spacing">
                <h4>Why do you want to be an ambassador?</h4>
                <label for = "SA1" class="answer centered-box" placeholder="Answer here..."></label>
                <input type="text" class="form-control" id = "SA1" name="SA1">
            </div>
    
            <div class="spacing">
                <h4>How do you see yourself contributing as an Auxr ambassador?</h4>
                <label for = "SA2" class="answer centered-box" placeholder="Answer here..."></label>
                <input type="text" class="form-control" id = "SA2" name="SA2">
            </div>

            <div class="spacing">
                <h4>What marketing or promoting experience do you have?</h4>
                <label for = "SA3" class="answer centered-box" placeholder="Answer here..."></label>
                <input type="text" class="form-control" id = "SA3" name="SA3">
            </div>
            <div class="container">
                <div class="spacing center">
                    <div class="row form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="row form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                </div>
            </div>
            
            <button class="submit-btn">Submit</button>
        </div>
    </form> 
{% endblock %}