{% extends 'base.html' %}

{% block title %}Auxr Ambassador Program{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/amInfo.css') }}">
{% endblock %}

{% block content %}
    <h1 class="header">Apply to become an Auxr ambassador</h1>

    <div class="content">
        <div class="columns">
            <div class="column card">
                <h3>Applications</h3>
                <p>Applications to become an Auxr ambassador are accepted on a rolling basis.</p>
            </div>
            <div class="column card">
                <h3>Why join the AAP team?</h3>
                <p>By joining the AAP team, you join a community of Auxr lovers that get exclusive look at new Auxr updates. The Auxr Ambassador Program (AAP) is a community full of music lovers that are all things music discoveryand collaboration.</p>
            </div>
            <div class="column card">
                <h3>Benefits</h3>
                <p>Free premium features to make your group listens better and free merch, including hats, T-shirts, and phone cases.</p>
            </div>
        </div>
    </div>

    <div class="purp-background">
        <h2 class="header">What is an Auxr Ambassador?</h2>
        <div class="image-section">
            <img src="https://via.placeholder.com/350x200" alt="Placeholder">
            <div class="description">
                <p>An Auxr Ambassador is a student in a highschool or college that goes around there campus as a promoter of Auxr. They tend to be very outgoing and spirited individuals that desire to share their love of music. </p>
            </div>
        </div>
    </div>
    <div class="how-to-apply">
        <h2>How to apply</h2>
        <p class="subheader">It's as easy as 1, 2, 3!</p>
        <div class="content">
            <div class="row">
                <h3>1. See if you are eligible</h3>
                <p>Auxr hires college and high school students from all over the country who are eager to share their love for music.</p>
            </div>
            <div class="row">
                <h3>2. Start Your Application Now!</h3>
                <a href = "/apply">
                    <button class="apply-btn">Apply</button>
                </a>
                <p>Start your application with one simple click.</p>
            </div>
            <div class="row">
                <h3>3. What Happens Next?</h3>
                <p>Give us 1 to 2 weeks to review your application, and you will receive an email regarding your application status!</p>
            </div>
        </div>
    </div>
{% endblock %}