{% extends 'base.html' %}

{% block title %}Auxr Ambassador Community{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Amloggedin.css') }}">
{% endblock %}

{% block content %}
    <h1 class="header">Auxr Ambassador
    Community</h1>
    <div class="images-section">
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <p>Date 1</p>
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <p>Date 2</p>
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <p>Date 3</p>
        </div>
    </div>

    <div class="track-progress">
        <h2 class="styled-header">Track Your Progress</h2>
        <div class="progress" style="width: 25%;">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="percentage">
            <p>60%</p>
        </div>

        <div class="next-reward">
            <img src="https://via.placeholder.com/100" alt="Placeholder">
            <h3>Next Reward</h3>
        </div>
    </div>
{% endblock %}