<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auxr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/styles/home.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="home.html">Auxr</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Aminfo.html">Ambassador Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="NewsletterSignUp.html">Newsletter SignUp</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section-1">
        <h1 class="headline">Auxr</h1>
        <h2 class="subheadline">Queue Together</h2>
        <div class="container">
            <p class="feature">Create Real Time Playlists</p>
            <p class="feature">Hosts can share playlists to queue up songs with multiple listeners</p>
            <p class="feature">Audio is played from the host's phone or connected sound device</p>
        </div>
    </section>

    <section class="section-2">
        <div>
            <p class="benefit">Share the music experience</p>
            <p class="benefit">Up to 10 listeners can join</p>
            <p class="benefit">No account creation is needed</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>