<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up for the Newsletter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/styles/newsletter.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="home.info">Auxr</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="team.html">About the Team</a></li>
                            <li><a class="dropdown-item" href="Amlogin.html">Auxr Ambassador Login</a></li>
                            <li><a class="dropdown-item" href="NewsletterSignUp.html">Sign up for the Newsletter</a></li>
                            <li><a class="dropdown-item" href="Amapply.html">Apply to become an Auxr ambassador</a></li>
                            <li><a class="dropdown-item" href="Aminfo.html">About Auxr Ambassadors</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<h1 class="page-title">Sign up for the Newsletter</h1>
<p class="description">Stay updated on the latest news and promotions from Auxr by signing up for our newsletter.</p>

<div class="newsletter-form">
    <div class="mb-3">
        <form method = "POST">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </form>
    </div>
    <button class="submit-btn">Submit</button>
</div>

<footer class="footer">
    <div class="footer-links">
        <p>&copy; 2023 Auxr. All rights reserved.</p>
        <p>Privacy Policy</p>
        <p>contact@auxr.app</p>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>