{% extends 'base.html' %}

{% block title %}Auxr Newsletter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/newsletter.css') }}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Sign up for the Newsletter</h1>
    <p class="description">Stay updated on the latest news and promotions from Auxr by signing up for our newsletter.</p>

    <div class="newsletter-form">
        <div class="mb-3">
            <form method = "POST">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id = "email" name="email">
            </form>
        </div>
        <button class="submit-btn spacing">Submit</button>
    </div>
{% endblock %}