{% extends 'base.html' %}

{% block title %}Meet the Auxr Team{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/team.css') }}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Meet the Auxr Team</h1>

    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="https://via.placeholder.com/150" alt="Team Member Photo">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras porttitor metus eget neque consectetur, eget dapibus elit malesuada.</p>
            </div>
        </div>
        
    </div>
{% endblock %}