{% extends 'base.html' %}

{% block title %}Meet the Auxr Team{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/team.css') }}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Meet the Auxr Team</h1>

    <div class="container">
        <div class="team-member">
            <img src="/static/images/lucas.jpeg">
            <div class="description">
                <h3>Mario Taglic</h3>
                <p>M.S. Computer Science</p>
                <p>Syracuse University graduate</p>
                <p>Software Engineer II at Cisco Systems</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="/static/images/lucas.jpeg">
            <div class="description">
                <h3>Justin Russo</h3>
                <p>M.S. Computer Science</p>
                <p>Syracuse University graduate</p>
                <p>Software Engineer II at Cisco Systems</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="/static/images/lucas.jpeg">
            <div class="description">
                <h3>Lucas Vogel</h3>
                <p>Pursuing a degree in Economics and Computer Science</p>
                <p>Washington University in St. Louis</p>
                <p>Varsity Basketball team at Washington University</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="/static/images/lucas.jpeg">
            <div class="description">
                <h3>Nate Goldberg</h3>
                <p>Pursuing a degree in Mathematics and Computer Science</p>
                <p>Universiy of Pennsylvania</p>
                <p>Former ESPN coorperate stradegy intern</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="/static/images/Aaron.jpg">
            <div class="description">
                <h3>Aaron Vogel</h3>
                <p>B.S. Economics Supply Chain </p>
                <p>Syracuse University graduate</p>
                <p>Head of operations at Loop Baby startup</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-member">
            <img src="/static/images/lucas.jpeg">
            <div class="description">
                <h3>Joseph Spino</h3>
                <p>B.S. Supply Chain Marketing </p>
                <p>Syracuse University graduate</p>
                <p>Operations manager</p>
            </div>
        </div>
        
    </div>
{% endblock %}