body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #A59ECB;

}
.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav {
    position: relative;
    right: 100px;
}
.dropdown-menu {
    background-color: #A59ECB;
    
}
.dropdown-item {
    color: white;
}
.sticky-top {
    top: 0;
    z-index: 1020;
}
.header {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.form-group {
    margin-bottom: 15px;
}
.black-background {
    background-color: #222222;
    color: white;
    padding: 20px 0;
    min-height: calc(100vh - 150px - 58px);
}
.black-background h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.black-background h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.answer {
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
}
.centered-box {
    width: 800 px;
    margin: 0 auto;
    display: block;
}
.submit-btn {
    background-color: #A59ECB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}
.spacing {
    margin-top: 50px;
}
.footer {
    background-color: #A59ECB;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.footer-links {
    margin-bottom: 5px;
}
