body {
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #A59ECB;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}
.home-button{
  font-size: x-large;
}
.section-1 {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-1 .headline {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.section-1 .subheadline {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}
.section-1 .feature {
  font-size: 18px;
  margin-bottom: 10px;
}
.section-2 {
  background-color: #222222;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
}
.section-2 .benefit {
  font-size: 18px;
  margin-bottom: 10px;
}