@font-face{
    font-family: Alfa;
    src: url("../fonts/Alfa.ttf");
  }
  @font-face{
    font-family: SF;
    src: url("../fonts/SF.ttf");
  }
  
  @font-face{
    font-family: SFbold;
    src: url("../fonts/SFbold.otf");
  }
  body {
    font-family: SF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #A59ECB;

}
.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav {
    position: relative;
    right: 100px;
}
.dropdown-menu {
    background-color: #A59ECB;
    
}
.dropdown-item {
    color: white;
}
.sticky-top {
    top: 0;
    z-index: 1020;
}
.page-title {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: SFbold;
}
.description {
    font-size: 18px;
    text-align: center;
}
.newsletter-form {
    max-width: 400px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-button{
    font-size: x-large;
  }
.spacing {
    margin-top: 30px;
}
.submit-btn {
    background-color: #A59ECB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}
.footer {
    background-color: #A59ECB;
    padding: 20px;
    text-align: center;
    color: white;
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}